<!--Edit button used for collapsing the edit comment form-->
<% 
collapseFormId = `collapse-edit-comment-form-${id}`;
%>
<% if(commentInstance.isAuthorized(currentUser)) { %>
<a class="btn btn-sm btn-warning" role="button" data-toggle="collapse" 
   href="#<%=collapseFormId%>" 
   aria-expanded="false" 
   aria-controls="<%=collapseFormId%>">
Edit
</a>
<% } %>