<!--Setting up the add new comment button that is used for collapsing-->
<% 
collapseFormId = `collapse-new-comment-form-${id}`;
%>
<a class="btn btn-success float-right" role="button" data-toggle="collapse" 
   href="#<%=collapseFormId%>"
   aria-expanded="false" 
   aria-controls="<%=collapseFormId%>">
	<%-icon%> <%=message%>
</a>