<% if(modelInstance.isAuthorized(currentUser)) { %>
	<form class="delete-form" 
		  action="/<%=modelInstance.model.toLowerCase()%>s/
				  <%=modelInstance.id%>
				  ?_method=DELETE" 
		  method="POST">
		<button class="btn btn-danger">Delete</button>
	</form>
<% } %>