<form class="delete-form" 
	  action="/<%=model%>s/
			  <%=modelInstance[modelInstance.schema.PRIMARY_KEY]%>
			  /comments/<%=comment._id%>
			  ?_method=DELETE" method="POST">
	<input type="submit" class="btn btn-sm btn-danger" value="Delete">
</form>