<!--Setting up the add new comment button that is used for collapsing-->
<a class="btn btn-success float-right" role="button" data-toggle="collapse" href="#collapseComment" aria-expanded="false" aria-controls="collapseComment">
	<i class="fas fa-plus"></i> Add new comment
</a>