
					<!-- Image Modal -->
					<div id="modalId" class="modal modal-img">
						<!-- The Close Button -->
						<div>
							<br>
							<span class="close" id="modalCloseId">&times;</span>
						</div>

						<!-- Modal Content (The Image) -->
						<img class="modal-content modal-content-img" id="modalImgId">
						<!-- Modal Caption (Image Text) -->
						<div class="modal-caption modal-caption-img" id="modalCaptionId">
						</div>
					</div>			
			</div>
			<script>
				function showImgModal() {
					try {
						let modal = document.getElementById("modalId");
						// Get the image and insert it inside the modal - use its "alt" text as a caption
						let modalImg = document.getElementById("modalImgId");
						let captionText = document.getElementById("modalCaptionId");
						modal.style.display = "block";
						modalImg.src = event.target.src;
						captionText.innerHTML = event.target.alt;

						// Get the <span> element that closes the modal
						let span = document.getElementById("modalCloseId");

						// When the user clicks on <span> (x), close the modal
						span.onclick = function() {
							modal.style.display = "none";
						}	
					}
					catch(err) {
						console.log(err);
					}
				}
			</script>
		</div>
	</div>
		<br>
		<br>
		<br>
		<footer class="footer">
			<div class="container">
				<p class="text-muted">
					<div class="row">
						<div class="col">
							YelpCamp 2020 | <a href="/campgrounds">All Campgrounds</a> | <a href="/campgrounds/new">New Campground</a>
						</div>
					</div>
				</p>
			</div>
		</footer>
		<!-- jQuery CDN -->
		<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>

		<!-- Popper JS -->
		<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>

		<!-- Bootstrap JS -->
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
	</body>
</html>