<%- include("../partials/header") %>


<div class="row justify-content-center">
	<div class="col-xs-12 col-md-6 col-lg-4 rounded bg-light p-3">
		<h1 class="h1 mb-3 font-weight-normal">Sign Up</h1>
		<form class="form-signin" action="/register" method="post">
			<div class="form-group">
				<input class="form-control" type="text" name="username" placeholder="username" required>
			</div>
			<div class="form-group">
				<input class="form-control" type="password" name="password" placeholder="password" required>
			</div>
			<div class="form-group">
				<input class="form-control" type="text" name="firstName" placeholder="firstName" required>
			</div>
			<div class="form-group">
				<input class="form-control" type="text" name="lastName" placeholder="lastName" required>
			</div>
			<div class="form-group">
				<input class="form-control" type="email" name="email" placeholder="email" required>
			</div>
			<div class="form-group">
				<input class="form-control" type="text" name="avatar" placeholder="avatar url">
			</div>
			<div class="form-group">
				<input class="form-control" type="text" name="bio" placeholder="Bio - write a bit about yourself.">
			</div>
			<div class="form-group">
				<input class="form-control" type="text" name="adminCode" placeholder="admin code">
			</div>
			<div class="form-group">
				<input class="btn btn-lg btn-primary btn-block" type="submit" value="Sign Up!">
			</div>
		</form>
		<a href="/campgrounds">Go Back</a>
	</div>
</div>
<%- include("../partials/footer") %>